/**
 * Created by
 * User: ershov-ilya
 * Website: ershov.pw
 * GitHub : https://github.com/ershov-ilya
 * on 21.12.2014.
*/
body {
  background: url("../images/logo-ershov-100.jpg") 95% 98% no-repeat #06000a !important;
}

.ui-page {
  background: none;
}

.ui-content {
  background-color: #4d4d4d;
  text-shadow: none;
  color: #fff;
}

.background {
  fill: url(#SVGID_BG);
}

.fluid {
  fill: url(#SVGID_fluid_green);
}

.surface {
  fill: url(#SVGID_surface_green);
}

#battery stop {
  transition: stop-color 1s ease-out 0.5s;
}

.battery-container {
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.battery-container > svg {
  display: inline-block;
}

#battery-status {
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -32px;
  margin-top: -20px;
  z-index: 500;
  text-shadow: 0 0 1px #333;
}

#rotator {
  display: inline-block;
  overflow: hidden;
}

.rotate90 {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
