/**
 * Created by
 * User: ershov-ilya
 * Website: ershov.pw
 * GitHub : https://github.com/ershov-ilya
 * on 21.12.2014.
*/
body {
  background: url("../images/logo-ershov.jpg") 50% 50% no-repeat #06000a !important;
}

.ui-page {
  background: none;
}

.ui-content {
  background-color: #4d4d4d;
  text-shadow: none;
  color: #fff;
}
