/**
 * Created by
 * User: ershov-ilya
 * Website: ershov.pw
 * GitHub : https://github.com/ershov-ilya
 * on 21.12.2014.
*/
body {
  background: url("../images/logo-ershov-100.jpg") 95% 99% no-repeat #06000a !important;
}

.ui-page {
  background: none;
}

.ui-content {
  background-color: #4d4d4d;
  text-shadow: none;
  color: #fff;
}

.background {
  fill: url(#SVGID_BG);
}

.fluid {
  fill: url(#SVGID_fluid_green);
}

.surface {
  fill: url(#SVGID_surface_green);
}

#battery stop {
  transition: stop-color 1s ease-out 0.5s;
}

.battery-container {
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.battery-container > svg {
  display: inline-block;
}

#battery-status {
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -32px;
  margin-top: -20px;
  z-index: 500;
  text-shadow: 0 0 1px #333;
}

#rotator {
  display: inline-block;
  overflow: hidden;
}

.rotate90 {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

a.change-language-link {
  color: #999;
}

.red {
  color: #d43f3a;
}

body.male .battery-container {
  background: url("../images/male.png") -100px 10px no-repeat;
}

body.female .battery-container {
  background: url("../images/female.png") -76px 10px no-repeat;
}

.flag-wrapper {
  display: inline-block;
  margin: 10px;
}

div.flag, .icon {
  min-height: 45px;
  width: 62px;
  background: url("../images/icons.png") 0 0 no-repeat;
  display: inline-block;
  margin: 0;
  padding: 0;
  float: left;
  margin-right: 10px;
}

div.flag.il {
  background-position: -1px 0;
}

div.flag.ru {
  background-position: -63px 0;
}

div.flag.fr {
  background-position: -127px 0;
}

div.flag.en {
  background-position: -191px 0;
}

div.flag.cn {
  background-position: -257px 0;
}

div.flag.es {
  background-position: -321px 0;
}

div.flag.de {
  background-position: -385px 0;
}

div.flag.jp {
  background-position: -450px 0;
}

div.flag.mini {
  min-height: 20px;
  width: 40px;
  background-position: 5px -60px;
  margin: 0 10px 0 0;
}

.icon.battery {
  min-height: 20px;
  width: 40px;
  background-position: -50px -60px;
  margin: 0 10px 0 0;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.arabic {
  text-align: right;
  direction: rtl;
}
