<!DOCTYPE html> 
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8" />
<title>Веб-приложение jQuery Mobile</title>
  <link href="components/jquery.mobile-theme/Life-battery.min.css" rel="stylesheet" type="text/css"/>
  <link href="components/jquery.mobile-theme/jquery.mobile.icons.min.css" rel="stylesheet" type="text/css"/>
  <link href="components/jquery.mobile-1.4.5/jquery.mobile.structure-1.4.5.min.css" rel="stylesheet" type="text/css"/>
  <link href="css/style.css" rel="stylesheet" type="text/css"/>
</head>
<body ng-app ng-controller="MVW" ng-init="init()">


<div data-role="page" id="personal_data">
	<div data-role="header">
		<h1>{{lang.word.personal_data}}</h1>
	</div>
    <ul data-role="listview">
      <li><a href="#language_select_dialog" data-rel="dialog" class="change-language-link"><div class="flag mini"></div>Language select</a></li>
      <li><a href="#user_profile">{{lang.word.fill_profile}}</a></li>
      <li><a href="#battery_status"><span class="icon battery"></span>{{lang.word.battery_status}}</a></li>
    </ul>
  <div data-role="footer" class="footer"></div>
</div>


<div data-role="page" id="user_profile">
	<div data-role="header">
		<h1>{{lang.word.user_profile}}</h1>
	</div>
	<div data-role="content">
    <form id="userProfile" name="userProfile">

    <div class="ui-field-contain">
      <label for="birthdate">{{lang.word.your_birthday_date}} <span class="red">*</span>:</label>
        <input type="date" data-role="date" name="birthdate" id="birthdate" value="">
    </div>

    <fieldset class="ui-field-contain">
      <label for="country">{{lang.word.where_you_live}} <span class="red">*</span></label>
      <select name="country" id="country" data-native-menu="false">
        <option value="none" style="display:none; height:0;"></option>
        <option value="Russia">{{lang.word.Russia}}</option>
        <option value="Ukraine">{{lang.word.Ukraine}}</option>
        <option value="Belarus">{{lang.word.Belarus}}</option>
        <option value="Kazakhstan">{{lang.word.Kazakhstan}}</option>
        <option value="China">{{lang.word.China}}</option>
        <option value="Chad">{{lang.word.Africa}}</option>
        <option value="United States Of America">{{lang.word.USA}}</option>
        <option value="United Kingdom">{{lang.word.UnitedKingdom}}</option>
        <option value="France">{{lang.word.France}}</option>
        <option value="Australia">{{lang.word.Australia}}</option>
        <option value="Canada">{{lang.word.Canada}}</option>
        <option value="Norway">{{lang.word.Norway}}</option>
        <option value="Israel">{{lang.word.Israel}}</option>
        <option value="Spain">{{lang.word.Spain}}</option>
        <option value="Germany">{{lang.word.Germany}}</option>
      </select>
    </fieldset>

    <div class="ui-field-contain">
      <fieldset data-role="controlgroup">
        <legend>{{lang.word.Choose_your_gender}}</legend>
        <label for="male">{{lang.word.male}}</label>
        <input type="radio" name="gender" id="male" value="male">
        <label for="female">{{lang.word.female}}</label>
        <input type="radio" name="gender" id="female" value="female">
      </fieldset>
    </div>

      <a href="#battery_status" class="ui-btn ui-btn-icon-right ui-icon-carat-r"><span class="icon battery"></span>{{lang.word.battery_status}}</a>

      <h3 style="margin: 30px 0 0 0;">{{lang.word.additional_options}}</h3>

    <div class="ui-field-contain">
      <fieldset data-role="controlgroup">
        <legend>{{lang.word.Do_you_smoke}}</legend>
        <label for="smoking_no">{{lang.word.no}}</label>
        <input type="radio" name="smoking" id="smoking_no" value="smoking_no">
        <label for="smoking_1_10">{{lang.word.smoking_1_10}}</label>
        <input type="radio" name="smoking" id="smoking_1_10" value="smoking_1_10">
        <label for="smoking_10_30">{{lang.word.smoking_10_30}}</label>
        <input type="radio" name="smoking" id="smoking_10_30" value="smoking_10_30">
      </fieldset>
    </div>

    <div class="ui-field-contain">
      <fieldset data-role="controlgroup">
        <legend>{{lang.word.alko}}</legend>
        <label for="alko_no">{{lang.word.alko_no}}</label>
        <input type="radio" name="alko" id="alko_no" value="alko_no">
        <label for="alko_events">{{lang.word.alko_events}}</label>
        <input type="radio" name="alko" id="alko_events" value="alko_events">
        <label for="alko_1_2">{{lang.word.alko_1_2}}</label>
        <input type="radio" name="alko" id="alko_1_2" value="alko_1_2">
        <label for="alko_partyman">{{lang.word.alko_partyman}}</label>
        <input type="radio" name="alko" id="alko_partyman" value="alko_partyman">
        <label for="alkoholic">{{lang.word.alkoholic}}</label>
        <input type="radio" name="alko" id="alkoholic" value="alkoholic">
      </fieldset>
    </div>


    <div class="ui-field-contain">
      <fieldset data-role="controlgroup">
        <legend>{{lang.word.sport}}</legend>
        <label for="sport_no">{{lang.word.sport_no}}</label>
        <input type="radio" name="sport" id="sport_no" value="sport_no">
        <label for="sport_20min">{{lang.word.sport_20min}}</label>
        <input type="radio" name="sport" id="sport_20min" value="sport_20min">
        <label for="sport_1hour">{{lang.word.sport_1hour}}</label>
        <input type="radio" name="sport" id="sport_1hour" value="sport_1hour">
      </fieldset>
    </div>

    <div class="ui-field-contain">
      <fieldset data-role="controlgroup">
        <legend>{{lang.word.tv}}</legend>
        <label for="tv_no">{{lang.word.tv_no}}</label>
        <input type="radio" name="tv" id="tv_no" value="tv_no">
        <label for="tv_2hours">{{lang.word.tv_2hours}}</label>
        <input type="radio" name="tv" id="tv_2hours" value="tv_2hours">
      </fieldset>
    </div>

      <div class="ui-field-contain">
        <fieldset data-role="controlgroup">
          <legend>{{lang.word.weight}}</legend>
          <label for="weight_no">{{lang.word.weight_no}}</label>
          <input type="radio" name="weight" id="weight_no" value="weight_no">
          <label for="weight_10">{{lang.word.weight_10}}</label>
          <input type="radio" name="weight" id="weight_10" value="weight_10">
        </fieldset>
      </div>

      <div class="ui-field-contain">
        <fieldset data-role="controlgroup">
          <legend>{{lang.word.coffee}}</legend>
          <label for="coffee_no">{{lang.word.coffee_no}}</label>
          <input type="radio" name="coffee" id="coffee_no" value="coffee_no">
          <label for="coffee_1_2">{{lang.word.coffee_1_2}}</label>
          <input type="radio" name="coffee" id="coffee_1_2" value="coffee_1_2">
          <label for="coffee_3_4">{{lang.word.coffee_3_4}}</label>
          <input type="radio" name="coffee" id="coffee_3_4" value="coffee_3_4">
        </fieldset>
      </div>

    </form>


  </div><!-- / .content -->
  <ul data-role="listview">
    <li><a href="#battery_status"><span class="icon battery"></span>{{lang.word.battery_status}}</a></li>
    <li><a href="#language_select_dialog" data-rel="dialog" class="change-language-link"><div class="flag mini"></div>Change language</a></li>
  </ul>
  <div data-role="footer" ng-bind-html="footer" class="footer"></div>
</div>


<div data-role="page" id="battery_status">
	<div data-role="header">
		<h1>{{lang.word.battery}}</h1>
	</div>
	<div data-role="content" style="padding:0;">

  <div id="battery-wrapper" class="battery-container">
    <a onclick="javascript:BATTERY.test();return false;">
      <h1 id="battery-status" style="">100%</h1>
      <div id="rotator">
   <svg id="battery" class="rotate" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="500px" height="1000px"
   viewBox="0 0 500 1000" xml:space="preserve">
    <g id="battery">
      <rect id="background" x="51.217" y="165.667" class="background" width="397.372" height="710.21"/>
      <rect id="column"  x="51.217" y="570.747" class="fluid" width="397.372" height="305.13"/>
      <ellipse id="surface" class="surface" cx="249.997" cy="570.747" rx="198.63" ry="12.809"/>
      <linearGradient id="SVGID_BG" gradientUnits="userSpaceOnUse" x1="51.2168" y1="520.7715" x2="448.5889" y2="520.7715">
        <stop  offset="0" style="stop-color:#B8B7C5"/>
        <stop  offset="0.0242" style="stop-color:#DDDEE3"/>
        <stop  offset="0.3394" style="stop-color:#B8B7C5"/>
        <stop  offset="0.9818" style="stop-color:#EBEAEF"/>
        <stop  offset="1" style="stop-color:#CFCFD9"/>
      </linearGradient>
      <linearGradient id="SVGID_fluid_green" gradientUnits="userSpaceOnUse" x1="51.2168" y1="723.3125" x2="448.5889" y2="723.3125">
        <stop  offset="0" style="stop-color:#4D9900"/>
        <stop  offset="0.0242" style="stop-color:#73E500"/>
        <stop  offset="0.3394" style="stop-color:#59B200"/>
        <stop  offset="0.9818" style="stop-color:#73E500"/>
        <stop  offset="1" style="stop-color:#4D9900"/>
      </linearGradient>
      <linearGradient id="SVGID_surface_green" gradientUnits="userSpaceOnUse" x1="51.3677" y1="570.7471" x2="448.627" y2="570.7471">
        <stop  offset="0" style="stop-color:#8ECB51"/>
        <stop  offset="0.0242" style="stop-color:#B3FF66"/>
        <stop  offset="0.3394" style="stop-color:#99DA57"/>
        <stop  offset="0.9818" style="stop-color:#B3FF66"/>
        <stop  offset="1" style="stop-color:#8ECB51"/>
      </linearGradient>

        <linearGradient id="SVGID_fluid_salad" gradientUnits="userSpaceOnUse" x1="51.2168" y1="723.3125" x2="448.5889" y2="723.3125">
        <stop  offset="0" style="stop-color:#7A9900"/>
        <stop  offset="0.0242" style="stop-color:#B7E500"/>
        <stop  offset="0.3394" style="stop-color:#8EB200"/>
        <stop  offset="0.9818" style="stop-color:#B7E500"/>
        <stop  offset="1" style="stop-color:#7A9900"/>
      </linearGradient>
      <linearGradient id="SVGID_surface_salad" gradientUnits="userSpaceOnUse" x1="51.3677" y1="570.7471" x2="448.627" y2="570.7471">
        <stop  offset="0" style="stop-color:#B2CB51"/>
        <stop  offset="0.0242" style="stop-color:#E0FF66"/>
        <stop  offset="0.3394" style="stop-color:#C0DA57"/>
        <stop  offset="0.9818" style="stop-color:#E0FF66"/>
        <stop  offset="1" style="stop-color:#B2CB51"/>
      </linearGradient>

      <linearGradient id="SVGID_fluid_yellow" gradientUnits="userSpaceOnUse" x1="51.2168" y1="723.3125" x2="448.5889" y2="723.3125">
        <stop  offset="0" style="stop-color:#999400"/>
        <stop  offset="0.0242" style="stop-color:#E5DD00"/>
        <stop  offset="0.3394" style="stop-color:#B2AC00"/>
        <stop  offset="0.9818" style="stop-color:#E5DD00"/>
        <stop  offset="1" style="stop-color:#999400"/>
      </linearGradient>
      <linearGradient id="SVGID_surface_yellow" gradientUnits="userSpaceOnUse" x1="51.3677" y1="570.7471" x2="448.627" y2="570.7471">
        <stop  offset="0" style="stop-color:#CBC751"/>
        <stop  offset="0.0242" style="stop-color:#FFFA66"/>
        <stop  offset="0.3394" style="stop-color:#DAD657"/>
        <stop  offset="0.9818" style="stop-color:#FFFA66"/>
        <stop  offset="1" style="stop-color:#CBC751"/>
      </linearGradient>

      <linearGradient id="SVGID_fluid_orange" gradientUnits="userSpaceOnUse" x1="51.2168" y1="723.3125" x2="448.5889" y2="723.3125">
        <stop  offset="0" style="stop-color:#996600"/>
        <stop  offset="0.0242" style="stop-color:#E59900"/>
        <stop  offset="0.3394" style="stop-color:#B27700"/>
        <stop  offset="0.9818" style="stop-color:#E59900"/>
        <stop  offset="1" style="stop-color:#996600"/>
      </linearGradient>
      <linearGradient id="SVGID_surface_orange" gradientUnits="userSpaceOnUse" x1="51.3677" y1="570.7471" x2="448.627" y2="570.7471">
        <stop  offset="0" style="stop-color:#CBA251"/>
        <stop  offset="0.0242" style="stop-color:#FFCC66"/>
        <stop  offset="0.3394" style="stop-color:#DAAE57"/>
        <stop  offset="0.9818" style="stop-color:#FFCC66"/>
        <stop  offset="1" style="stop-color:#CBA251"/>
      </linearGradient>

      <linearGradient id="SVGID_fluid_orangered" gradientUnits="userSpaceOnUse" x1="51.2168" y1="723.3125" x2="448.5889" y2="723.3125">
        <stop  offset="0" style="stop-color:#994000"/>
        <stop  offset="0.0242" style="stop-color:#E56000"/>
        <stop  offset="0.3394" style="stop-color:#B24A00"/>
        <stop  offset="0.9818" style="stop-color:#E56000"/>
        <stop  offset="1" style="stop-color:#994000"/>
      </linearGradient>
      <linearGradient id="SVGID_surface_orangered" gradientUnits="userSpaceOnUse" x1="51.3677" y1="570.7471" x2="448.627" y2="570.7471">
        <stop  offset="0" style="stop-color:#CB8451"/>
        <stop  offset="0.0242" style="stop-color:#FFA666"/>
        <stop  offset="0.3394" style="stop-color:#DA8E57"/>
        <stop  offset="0.9818" style="stop-color:#FFA666"/>
        <stop  offset="1" style="stop-color:#CB8451"/>
      </linearGradient>

      <linearGradient id="SVGID_fluid_brown" gradientUnits="userSpaceOnUse" x1="51.2168" y1="723.3125" x2="448.5889" y2="723.3125">
        <stop  offset="0" style="stop-color:#992E00"/>
        <stop  offset="0.0242" style="stop-color:#E54500"/>
        <stop  offset="0.3394" style="stop-color:#B23600"/>
        <stop  offset="0.9818" style="stop-color:#E54500"/>
        <stop  offset="1" style="stop-color:#992E00"/>
      </linearGradient>
      <linearGradient id="SVGID_surface_brown" gradientUnits="userSpaceOnUse" x1="51.3677" y1="570.7471" x2="448.627" y2="570.7471">
        <stop  offset="0" style="stop-color:#CB7651"/>
        <stop  offset="0.0242" style="stop-color:#FF9466"/>
        <stop  offset="0.3394" style="stop-color:#DA7E57"/>
        <stop  offset="0.9818" style="stop-color:#FF9466"/>
        <stop  offset="1" style="stop-color:#CB7651"/>
      </linearGradient>

      <linearGradient id="SVGID_fluid_red" gradientUnits="userSpaceOnUse" x1="51.2168" y1="723.3125" x2="448.5889" y2="723.3125">
        <stop  offset="0" style="stop-color:#990000"/>
        <stop  offset="0.0242" style="stop-color:#E50000"/>
        <stop  offset="0.3394" style="stop-color:#B20000"/>
        <stop  offset="0.9818" style="stop-color:#E50000"/>
        <stop  offset="1" style="stop-color:#990000"/>
      </linearGradient>
      <linearGradient id="SVGID_surface_red" gradientUnits="userSpaceOnUse" x1="51.3677" y1="570.7471" x2="448.627" y2="570.7471">
        <stop  offset="0" style="stop-color:#CB5151"/>
        <stop  offset="0.0242" style="stop-color:#FF6666"/>
        <stop  offset="0.3394" style="stop-color:#DA5757"/>
        <stop  offset="0.9818" style="stop-color:#FF6666"/>
        <stop  offset="1" style="stop-color:#CB5151"/>
      </linearGradient>
    </g>
    <g id="bottom">
      <image style="overflow:visible;" width="398" height="73" xlink:href="images/lower_cap.png"  transform="matrix(1 0 0 1 51 846)">
      </image>
    </g>
    <g id="top">
      <g>
        <image style="overflow:visible;" width="150" height="64" xlink:href="images/terminal.png"  transform="matrix(1 0 0 1 175 66)">
        </image>
        <image style="overflow:visible;" width="398" height="72" xlink:href="images/upper_cap.png"  transform="matrix(1 0 0 1 51 125)">
        </image>
      </g>
    </g>
  </svg>
        </div>
    </a> <!-- / a#rotator -->
    </div><!-- / #battery-wrapper .battery-container -->
  </div>
  <ul data-role="listview">
    <li><a href="#user_profile">{{lang.word.clarify_data}}</a></li>
    <li><a href="#personal_data">{{lang.word.personal_data}}</a></li>
  </ul>
  <div data-role="content">
    <p><b>{{lang.word.hint}}</b> {{lang.word.hint1}}</p>
    <p>{{lang.word.hint2}}</p>
  </div>
  <div data-role="footer" ng-bind-html="footer" class="footer"></div>
</div>


<div data-role="page" data-dialog="true" id="language_select_dialog">
  <div data-role="header">
    <h2>Choose</h2>
  </div>
  <div class="ui-content" role="main">
    <h3>What is your language?</h3>
    <ul data-role="listview" class="ui-listview">
      <li>
        <a href="#user_profile" ng-click="setLocale('EN')" class="ui-btn">
          <div class="flag en"></div>
          <h3>English</h3>
          <p>English</p>
        </a>
      </li>
      <li>
        <a href="#user_profile" ng-click="setLocale('RU')" class="ui-btn">
          <div class="flag ru"></div>
          <h3>Русский</h3>
          <p>Russian</p>
        </a>
      </li>
      <li>
        <a href="#user_profile" ng-click="setLocale('FR')" class="ui-btn">
          <div class="flag fr"></div>
          <h3>Français</h3>
          <p>French</p>
        </a>
      </li>
      <li>
        <a href="#user_profile" ng-click="setLocale('DE')" class="ui-btn">
          <div class="flag de"></div>
          <h3>Allemand</h3>
          <p>German</p>
        </a>
      </li>
      <li>
        <a href="#user_profile" ng-click="setLocale('CN')" class="ui-btn">
          <div class="flag cn"></div>
          <h3>中国</h3>
          <p>Chinese</p>
        </a>
      </li>
    </ul>
  </div>
</div>

<!-- postfooter -->
<script src="scripts/jquery/jquery-1.11.2.min.js" type="text/javascript"></script>
<script src="components/jquery.mobile-1.4.5/jquery.mobile-1.4.5.min.js" type="text/javascript"></script>
<script src="scripts/angularjs/angular-1.2.27.min.js" type="text/javascript"></script>
<script src="scripts/app.js" type="text/javascript"></script>
<script src="scripts/battery.js"></script>
<script src="scripts/blackbox.js"></script>
<script src="scripts/form-control.js" type="text/javascript"></script>
<script src="scripts/main.js" type="text/javascript"></script>
</body>
</html>
